@font-face {
    font-family: TimeasrIcons;
    src: url('TimeasrIcons.woff');
}

body {
    font-family: Verdana, Arial, sans-serif;
    height: 100vh;
    line-height: 21px;
    margin: 0;
    padding: 0;
    width: 100%;
}

div#counter {
    position: relative;
    text-align: center;
    top: 45vh;
}

div#counter .running {
    color: #586BA5;
}

div#counter .paused {
    color: #929CB6;
}

div#counter div {
    line-height: normal;
}

div#counter div#counterValue {
    cursor: pointer;
    font-size: 4em;
    font-weight: bold;
}

div#counter div#leaveValue {
    color: lightgrey;
}

div#counter div#leaveValue:before {
    font-family: TimeasrIcons;
    padding-right: .5em;
}

div#counter div#leaveValue.t-bef:before {
    content: 't';
}

div#summaryToolbar {
    background-color: #1C3A92;
    color: #fff;
    height: 2em;
    padding-top: 0.5em;
    text-align: center;
}

div#summaryToolbar #month {
    font-weight: bold;
    margin-right: 2em;
}

div#summaryToolbar #stattime {
    cursor: pointer;
}

div#summaryToolbar #daycount {
    background-color: #586BA5;
    border-radius: .3em;
    padding: .1em .5em;
}

div#summaryToolbar #daycount.more {
    background-color: rgba(89, 166, 108, 1);
}

div#summaryToolbar #daycount.less {
    background-color: rgba(182, 73, 73, 1);
}

div#topNavBar {
    position:absolute;
    top:0;
    left:0;
    width:100%;
}

div#daySelector {
    display: table;
    width: 100%;
}

div#daySelector .day {
    background-color: #586BA5;
    color: #fff;
    cursor: pointer;
    display: table-cell;
    text-align: center;
}

div#daySelector .actl {
    background-color: #929CB6;
    cursor: auto;
}
div#copyright {
    bottom: 0;
    font-size: .75em;
    left: 0;
    padding: 5px;
    position: absolute;
}