@font-face {
    font-family: TimeasrIcons;
    src: url('../assets/TimeasrIcons.woff');
}

@font-face {
    font-family: SolovaLogo;
    src: url('../assets/SolovaLogo.woff');
}

body {
    font-family: Verdana, Arial, sans-serif;
    height: 100vh;
    line-height: 21px;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100%;
}

div.view {
    display: none;
}

div#counter {
    position: relative;
    text-align: center;
    top: 40vh;
}

div#counter.running #counterValue {
    color: #586BA5;
}

div#counter.paused #counterValue {
    color: #929CB6;
}

div#counter div {
    line-height: normal;
}

div#counter div#counterValue {
    cursor: pointer;
    font-size: 4em;
    font-weight: bold;
}

div#counter div#lastChangeTime,
div#counter div#leaveValue {
    color: lightgrey;
}

div#counter div#leaveValue {
    margin-top: 12px;
    opacity: 1;
    transition: opacity 5s ease;
}

div#counter div#leaveValue:before {
    font-family: TimeasrIcons, sans-serif;
    padding-right: .5em;
}

div#counter div#leaveValue.l-bef:before {
    content: 'l';
}

div#counter div#leaveValue.t-bef:before {
    content: 't';
}

div#counter.paused div#leaveValue {
    opacity: 0;
    transition: none;
}

div#summaryToolbar,
div#topTitleBar {
    background-color: #1C3A92;
    color: #fff;
    height: 2em;
    padding-top: 0.5em;
}

div#summaryToolbar {
    text-align: center;
}

div#topTitleBar {
    left: 0;
    margin-bottom: 1em;
    position: fixed;
    top: 0;
    width: 100vw;
}

div#topTitleBar h1 {
    font-size: 1em;
    margin: 0;
    padding: 0 0.5em;
}

div#summaryToolbar #month {
    font-weight: bold;
    margin-right: 2em;
}

div#summaryToolbar #daycount {
    background-color: #586BA5;
    border-radius: .3em;
    padding: .1em .5em;
}

div#summaryToolbar #daycount.more {
    background-color: rgba(89, 166, 108, 1);
}

div#summaryToolbar #daycount.less {
    background-color: rgba(182, 73, 73, 1);
}

div#topNavBar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
}

div#daySelector {
    display: table;
    width: 100%;
}

div#daySelector .day {
    background-color: #586BA5;
    color: #fff;
    cursor: pointer;
    display: table-cell;
    padding: 1px 0 2px 0;
    text-align: center;
}

div#daySelector .actl {
    background-color: #929CB6;
    cursor: auto;
}

div#copyright:after {
    content: 's';
    font-family: SolovaLogo, sans-serif;
    padding: 0 5px;
}

div#copyright {
    bottom: 0;
    font-size: .75em;
    left: 0;
    padding: 5px;
    position: fixed;
}
div.menuBar {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
}

div.menuBar a,
div.menuBar span {
    color: #fff;
    display: inline-block;
    font-family: TimeasrIcons, sans-serif;
    font-size: 1.5em;
    height: 2em;
    padding-top: .5em;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
}

div#settings {
    padding: 2em 0;
}

div.settingsrow {
    font-size: .75em;
    padding: .5em 1em;
}

div.settingsrow #monthlywladj {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: 92vw;
}

div.settingsrow label,
div#license span {
    display: block;
    margin-top: 15px;
}

div#notification {
    background-color: yellowGreen;
    position: absolute;
    height: 3em;
    left: 2vw;
    width: 96vw;

    top: -3em;
    opacity: 0;
    transition: opacity 500ms ease-out, top 100ms ease 500ms;

    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    font-weight: bold;
    color: white;
    line-height: 2.75em;
}

div#notification.show {
    top: 0;
    opacity: 1;
    transition: opacity 250ms, top 500ms ease;
}
