<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <link rel="manifest" href="/manifest.json" />
        <link rel="icon" href="/favicon_light.png" media="(prefers-color-scheme: light)" />
        <link rel="icon" href="/favicon_dark.png" media="(prefers-color-scheme: dark)" />
        <!-- <meta name="viewport" content="width=300, initial-scale=1.0, user-scalable=no"/> -->
        <title>Timeasr</title>
        <!-- Version: <%= htmlWebpackPlugin.options.version %> -->
    </head>
    <body>
        <div id="svelte-container"></div>
    </body>
</html>
