html {
    /* Base RGB 462E74 https://paletton.com/ */
    --main-background-color: #8c7aae;
    --first-side-background-color: #665091;
    --second-side-background-color: #462e74;
    --warning-color: #d4c669;

    /* <-- new values */
    --background-color: white;
    --counter-info-color: lightgrey;
    --dark-primary-color: #586ba5;
    --icon-color: white;
    --inverse-text-color: white;
    --header-color: #1c3a92;
    --light-primary-color: #929cb6;
    --negative-sum-color: rgba(182 73 73 100%);
    --notification-color: yellowgreen;
    --positive-sum-color: rgba(89 166 108 100%);
    --selected-task-item-color: coral;
    --task-item-color: cornflowerblue;
    --text-color: black;
}

@media (prefers-color-scheme: dark) {
    html {
        /* Base RGB 462E74 https://paletton.com/ */
        --main-background-color: #18063a;
        --first-side-background-color: #2c1657;
        --second-side-background-color: #462e74;
        --warning-color: #d4c669;

        /* <-- new values */
        --background-color: black;
        --counter-info-color: rgba(80 80 80 100%);
        --dark-primary-color: #525c76;
        --icon-color: darkgrey;
        --inverse-text-color: black;
        --header-color: #0c2a82;
        --negative-sum-color: darkred;
        --light-primary-color: #384b85;
        --notification-color: darkgreen;
        --positive-sum-color: darkgreen;
        --text-color: darkgrey;
    }
}

body {
    margin: 0;
    padding: 0;
}

input {
    background-color: var(--first-side-background-color);
    border: 0;
    border-bottom: 1px solid var(--text-color);
    color: var(--text-color);
    font-size: inherit;
    text-align: center;
    width: 90%;
}

.App {
    align-items: stretch;
    box-sizing: border-box;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, sans-serif;
    font-size: 2vh;
    height: 100vh;
    justify-content: space-between;
    line-height: 2vh;
    width: 100vw;

    aside {
        flex-grow: 0;
        height: 10%;

        &.Stats {
            background-color: var(--first-side-background-color);
            display: grid;
            grid-template-areas: "cumulative daily" "avg copyright";
            z-index: 2;

            & > div {
                align-items: center;
                display: flex;
            }
        }

        .Stats__Item__EstimatedLeave {
            margin-left: 0.5em;

            &::before {
                content: "> (";
            }

            &::after {
                content: ")";
            }
        }

        .Stats__CurrentTime {
            span {
                display: inline-block;
            }

            input {
                display: none;
                max-width: 150px;
            }

            &--edited {
                color: var(--warning-color);
            }

            &--editable {
                input {
                    display: inline-block;
                }

                span {
                    display: none;
                }
            }
        }
    }

    svg {
        height: 5vh;
        width: 5vh;
        color: var(--icon-color);
        fill: var(--icon-color);
        stroke: var(--icon-color);
    }

    .MeasureList {
        align-content: flex-start;
        background-color: var(--main-background-color);
        column-gap: 10%;
        display: flex;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow: auto;
        padding: 5%;
        position: relative;
        row-gap: 5%;
    }

    .MeasureList__Item {
        align-items: center;
        background-color: var(--first-side-background-color);
        display: flex;
        flex-direction: column;
        height: 15%;
        justify-content: center;
        position: relative;
        width: 45%;

        &__Close {
            background-color: var(--second-side-background-color);
            border: 0;
            padding: 5px;
            position: absolute;
            right: 5px;
            top: 5px;

            svg {
                fill: transparent;
                height: 3vh;
                width: 3vh;
            }
        }

        &--active {
            background-color: var(--second-side-background-color);
        }
    }

    .Copyright {
        bottom: 10%;
        position: absolute;
        right: 0;
    }
}

/* <-- New version finished here

body {
    background-color: var(--main-background-color);
    color: var(--text-color);
    font-family: Verdana, Arial, sans-serif;
    height: 100vh;
    line-height: 21px;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100vw;
}

input, textarea {
    background-color: var(--background-color);
    color: var(--text-color);
}

div#counter {
    position: relative;
    text-align: center;
    top: 5em;
}

div#counter.running #counterValue {
    color: var(--dark-primary-color);
}

div#counter.paused #counterValue {
    color: var(--light-primary-color);
}

div#counter div {
    line-height: normal;
}

div#counter div#counterValue {
    cursor: pointer;
    font-size: 4em;
    font-weight: bold;
}

div#counter div#lastChangeTime,
div#counter div#leaveValue {
    color: var(--counter-info-color);
}

div#counter div#leaveValue {
    margin-top: 12px;
    opacity: 1;
    transition: opacity 5s ease;
}

div#counter div#leaveValue:before {
    font-family: TimeasrIcons, sans-serif;
    padding-right: .5em;
}

div#counter.paused div#leaveValue {
    opacity: 0;
    transition: none;
}

#taskTypesList div {
    display: inline-block;
    padding: 20px;
    background: var(--task-item-color);
    margin: 15px;
    min-width: 100px;
    color: var(--inverse-text-color);
    font-weight: bold;
    cursor: pointer;
}

#taskTypesList div.sel {
    background-color: var(--task-item-color);
}

#taskTypesList span {
    display: block;
}

div#summaryToolbar,
div#topTitleBar {
    background-color: var(--header-color);
    color: var(--inverse-text-color);
    height: 2em;
    padding-top: 0.5em;
}

div#summaryToolbar {
    text-align: center;
}

div#topTitleBar {
    left: 0;
    margin-bottom: 1em;
    position: fixed;
    top: 0;
    width: 100vw;
}

div#topTitleBar h1 {
    font-size: 1em;
    margin: 0;
    padding: 0 0.5em;
}

div#summaryToolbar #month {
    font-weight: bold;
    margin-right: 2em;
}

div#summaryToolbar #daycount {
    background-color: var(--dark-primary-color);
    border-radius: .3em;
    padding: .1em .5em;
}

div#summaryToolbar #daycount.more {
    background-color: var(--positive-sum-color);
}

div#summaryToolbar #daycount.less {
    background-color: var(--negative-sum-color);
}

div#topNavBar {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1;
}

div#daySelector {
    display: table;
    width: 100%;
}

div#daySelector .day {
    background-color: var(--dark-primary-color);
    color: var(--inverse-text-color);
    cursor: pointer;
    display: table-cell;
    padding: 1px 0 2px 0;
    text-align: center;
}

div#daySelector .actl {
    background-color: var(--light-primary-color);
    cursor: auto;
}

div#copyright {
    bottom: 0;
    font-size: .75em;
    left: 0;
    padding: 5px;
    position: fixed;
}
div.menuBar {
    cursor: pointer;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2;
    --svg-height: 30px;
    --svg-width: 30px;
}

div.menuBar a,
div.menuBar span {
    color: var(--inverse-text-color);
    display: inline-block;
    font-family: TimeasrIcons, sans-serif;
    font-size: 1.5em;
    height: 2em;
    padding-top: .5em;
    text-align: center;
    text-decoration: none;
    width: 1.5em;
}

div#settings {
    padding: 2em 0;
}

div.settingsrow {
    font-size: .75em;
    padding: .5em 1em;
}

div.settingsrow #monthlywladj {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    width: 92vw;
}

div.settingsrow label,
div.license span {
    display: block;
    margin-top: 15px;
}

div#notification {
    background-color: var(--notification-color);
    position: absolute;
    height: 3em;
    left: 2vw;
    width: 96vw;

    top: -3em;
    opacity: 0;
    transition: opacity 500ms ease-out, top 100ms ease 500ms;

    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--inverse-text-color);
    line-height: 2.75em;

    z-index: 3;
}

div#notification.show {
    top: 0;
    opacity: 1;
    transition: opacity 250ms, top 500ms ease;
}
*/
