<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=300, initial-scale=1.0, user-scalable=no"/>
        <title>Timeasr</title>
    </head>
    <body>

    <div id="measure" class="view">
        <div id="topNavBar">
            <div id="summaryToolbar">
                <span id="month"></span>
                <span id="stattime"></span>
                <span id="daycount"></span>
            </div>
            <div id="daySelector">
                <div id="prevDay" class="day"></div>
                <div id="actlDay" class="day actl"></div>
                <div id="nextDay" class="day"></div>
            </div>
        </div>
        <div id="counter">
            <div id="counterValue"></div>
            <div id="lastChangeTime"></div>
            <div id="leaveValue"></div>
        </div>
        <div class="menuBar">
            <span id="switchview-measure">g</span>
        </div>
    </div>
    <div id="settings" class="view">
        <div id="topTitleBar">
            <h1>Settings <span id="dwlForMonth"></span></h1>
        </div>
        <div class="settingsrow">
            <label for="dailywl">Daily workload</label>
            <input id="dailywl" name="dailywl" type="text"/>
        </div>
        <div class="settingsrow">
            <label for="monthlywladj">Monthly workload adjustment</label>
            <div>Summary: <span id="monthlywladjsum"></span></div>
            <textarea id="monthlywladj" name="monthlywladj"></textarea>
        </div>
        <div id="license" class="settingsrow">
            <span id="version"><%= htmlWebpackPlugin.options.version %></span>
            <span>Software licensed under LGP-3.0<br><a href="https://bitbucket.org/lsolova/timeasr">https://bitbucket.org/lsolova/timeasr</a></span>
            <span>Design licensed under CC BY-NC 4.0</span>
            <span>Solova logo and font is property of Laszlo Solova. All rights reserved.</span>
        </div>
        <div class="menuBar">
            <span id="switchview-settings">i</span>
        </div>
    </div>
    <div id="notification"></div>
    <div id="copyright"></div>

    </body>
</html>
